<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
						http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--
        定义basicActionBean,当出发相应action时,struts2会在spring的bean容器中寻找该bean实例.
        通过scope属性来设定该bean实例不是以单例模式创建的.
        该bean有两个字段,productService和categoryService,这两个字段的实例也由spring来创建.
    -->
    <bean name="basicActionBean" class="ProjectC.Gold.Note.Inergration.S2SHV1.action.BasicAction" scope="prototype">
        <property name="productService" ref="productServiceBean"/>
        <property name="categoryService" ref="categoryServiceBean"/>
    </bean>

    <!--
        该bean实例用于跟DAO交互.
    -->
    <bean name="productServiceBean" class="ProjectC.Gold.Note.Inergration.S2SHV1.service.impl.ProductServiceImpl">
        <property name="productDAO" ref="productDAOBean"/>
    </bean>

    <!--
        该bean实例用于跟数据库交互.
        该实例有一个字段sessionFactory,由spring创建,用于jdbc连接.
    -->
    <bean name="productDAOBean" class="ProjectC.Gold.Note.Inergration.S2SHV1.dao.impl.ProductDAOImpl">
        <property name="sessionFactory" ref="sessionFactoryBean"/>
    </bean>

    <bean name="categoryServiceBean" class="ProjectC.Gold.Note.Inergration.S2SHV1.service.impl.CategoryServiceImpl">
        <property name="categoryDAO" ref="categoryDAOBean"/>
    </bean>

    <bean name="categoryDAOBean" class="ProjectC.Gold.Note.Inergration.S2SHV1.dao.impl.CategoryDAOImpl">
        <property name="sessionFactory" ref="sessionFactoryBean"/>
    </bean>

    <!--
        sessionFactoryBean实例用于开启和关闭事务.
    -->
    <bean name="sessionFactoryBean" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSourceBean"/>
        <property name="mappingResources">
            <list>
                <value>ProjectC/Gold/Note/Inergration/S2SHV1/pojo/Category.hbm.xml</value>
                <value>ProjectC/Gold/Note/Inergration/S2SHV1/pojo/Product.hbm.xml</value>
            </list>
        </property>
        <property name="schemaUpdate" value="true"/>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQLDialect
                hibernate.show_sql=true
                hbm2ddl.auto=update
            </value>
        </property>
    </bean>

    <!--
        不使用数据库连接池时候的配置.
        注意点:
            Mysql Connector/J 6.x以上的版本,需要在连接URL上指定时区不然会报错.
    -->
    <!--
    <bean name="dataSourceBean" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/hibernate?characterEncoding=UTF-8&amp;serverTimezone=UTC"/>
        <property name="username" value="root"/>
        <property name="password" value="admin"/>
    </bean>
    -->
    <!--
        aSourceBean该实例保存着jdbc连接的相关参数以及连接用的驱动.
        使用c3p0数据库连接池的配置.
    -->
    <bean name="dataSourceBean" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!-- 指定mysql的jdbc连接器 -->
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
        <!-- Mysql Connector/J 6.x以上的版本，需要在连接URL上指定时区不然会报错 -->
        <property name="jdbcUrl"
                  value="jdbc:mysql://localhost:3306/hibernate?characterEncoding=UTF-8&amp;serverTimezone=UTC"/>
        <!-- 指定数据库用户名 -->
        <property name="user" value="root"></property>
        <!-- 指定数据库密码 -->
        <property name="password" value="admin"></property>
        <!-- 最小的数据库连接数 -->
        <property name="minPoolSize" value="10"></property>
        <!-- 最大的数据库连接数 -->
        <property name="maxPoolSize" value="100"></property>
        <!-- 最大空闲时间,1800秒内未使用则连接被丢弃。若为0则永不丢弃。Default: 0 -->
        <property name="maxIdleTime" value="1800"></property>
        <!-- 当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。Default: 3 -->
        <property name="acquireIncrement" value="3"></property>
        <!-- 最大的Statements条数 -->
        <property name="maxStatements" value="1000"></property>
        <!-- 初始化10条连接 -->
        <property name="initialPoolSize" value="10"></property>
        <!-- 定义在从数据库获取新连接失败后重复尝试的次数。Default: 30 -->
        <property name="acquireRetryAttempts" value="30"></property>
        <!-- 每隔60秒发一次心跳信号到数据库，以保持连接的活性 -->
        <property name="idleConnectionTestPeriod" value="60"></property>
    </bean>

    <bean name="transactionManagerBean" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactoryBean"/>
    </bean>

    <tx:advice id="txadvice" transaction-manager="transactionManagerBean">
        <tx:attributes>
            <tx:method name="list*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="get*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="update*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="delete*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="add*" propagation="REQUIRED" rollback-for="Exception"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="serviceMethod"
                      expression="execution(* ProjectC.Gold.Note.Inergration.S2SHV1.service.*.*(..))"/>
        <aop:advisor advice-ref="txadvice" pointcut-ref="serviceMethod"/>
    </aop:config>
</beans>